
@{
    ViewBag.Title = "SharedSocial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compartir</h2>

<img height="500" width="700" src="~/Resources/Img/SharedFacebook1.png" />

<br />

<div>
    @Html.ActionLink("Regresar", "Index", "Home")
</div>