@{
    ViewBag.Title = "| Nosotros";
}

<h1>Nosotros somos Donatime</h1>
<p>
    Conectamos gente que desea ayudar con su tiempo, asociaciones civiles que desean generar un impacto social y sponsors que deseen 
    redituar a la sociedad impulsando iniciativas.  
</p>